@font-face {
    font-family: 'FuturaMd';
    src: url('../fonts/FtraBk__.eot');
    src: local('nope'),
         url('../fonts/FtraBk__.ttf') format('truetype');
}

@font-face {
    font-family: 'FuturaMd';
    src: url('../fonts/FtraBd__.eot');
    src: local('nope'),
         url('../fonts/FtraBd__.ttf') format('truetype'); 
font-weight: bold;
}

@font-face {
    font-family: 'FuturaMd';
    src: url('../fonts/FtraBkl_.eot');
    src: local('nope'),
         url('../fonts/FtraBkl_.ttf') format('truetype');
font-style: italic;
}

html, body { background: #558527; }

a { }

a:hover { }

p { margin: 1em 0; }

body {
	color: black;
	font-family: "FuturaMd", helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: auto 0;
}

h1, h2, h3, h4, h5, h6 { color: #71a143; }

h1 { 
	color: white;
	font-size: 22px;
	padding-bottom: 14px;
	text-transform: uppercase;
}
h1 small { font-size: 18px; }

h2 { text-transform: capitalize; }

h3 { color: #71a143; font-size: 17px; text-indent: 40px; }

h4 { color: #71a143; font-size: 17px; padding: 10px 0; text-transform: capitalize; }

h4 img { color: #71a143; font-size: 17px; padding: 24px 0 15px 20px; }