@font-face {
    font-family: 'FuturaMd';
    src: url('../fonts/FtraBd.tff');
    src: local('nope'),
         url('../fonts/FtraBd.tff') format('truetype')
}

html, body {
	background: #558527;
}

a { }

a:hover { }

p { margin: 1em 0; }

body {
	color: black;
	font-family: "FuturaMd", helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: auto 0;
}

h1, h2, h3, h4, h5, h6 { color: #71a143; }

h1 { 
	font-size: 22px;
	padding-bottom: 14px;
	text-transform: capitalize;
}

h2 { text-transform: capitalize; }

h3 {
	color: #71a143;
	font-size: 17px;
	text-indent: 40px;
}