#top > div, #masthead > div, #body > div, #footer > div { margin: 0 auto; width: 944px;}

#top { background-color: white; color: black; padding: 2px 0; } 

#top > div { border-top: #71a143 2px solid; border-bottom: #71a143 2px solid; width: 100%; }

#top > div > div {
	padding: 24px 0;
	position: relative;
	margin: 0 auto;
	width: 944px;
}

#header { color: white; }

#masthead { background: url(../images/masthead_bg.png) repeat-x; color: white; }
body.home #masthead { background: url(../images/masthead_bg_home.png) repeat-x; }

#masthead > div { padding: 25px 0 1px; }
body.home #masthead > div { padding: 20px 0; text-align: center; }

#body { background-color: white; padding: 2px 0; }

#body > div {
	border-bottom: #71a143 2px solid;
	border-top: #71a143 2px solid;
	width: 100%;
}

#body > div > div {	
	margin: 20px auto; /* fixme vertical height */
	width: 944px; 
}

#body > div a { text-decoration: none; color: black;}
#body > div a:hover { color: #71a143;}

#content { background: url(../images/sidebarseparator.png) 260px repeat-y; }
#content.wide { background: none; }

#sidebar {
	float: left;
	padding: 0 40px 0 0;
	width: 240px;
}

#component { float: left; width: 632px; }

#component.wide { width: 100%; }

#bottom { font-size: 14px; margin: 32px 0; }

#bottom > div { background: url(../images/bottom_bg.png) center repeat-y; line-height: 1.5em; }

#bottom > div > div a { text-decoration: none; color: black;}

#bottom > div > div a:hover { color: #71a143;}

#footer { background: url(../images/footerbg.png) repeat-x;	margin: 0 auto; padding: 10px 0 75px; }

#footer > div { font-size: 9px; color: white;}
#footer a { color: white; text-decoration: none;}
#footer a:hover { color: #71a143; } /* fixme */
