#top > div, #masthead > div, #body > div, #content > div, 
#bottom > div, #footer > div { margin: 0 auto; width: 944px;}

#top {
	background-color: white;
	color: black;
	padding: 2px 0;	
} 

#top > div { 
	border-top: #71a143 2px solid;
	border-bottom: #71a143 2px solid;
	width: 100%;
}
#top > div > div {
	padding: 24px 0;
	position: relative;
	margin: 0 auto;
	width: 960px;
}

#masthead {
	background: url(../images/masthead_bg.png) repeat-x;
	color: white;
}
body.home #masthead { background: url(../images/masthead_bg_home.png) repeat-x;}

#masthead > div {
	padding: 20px 0;
	text-align: center;
}

#body {
	background-color: white;
	padding: 2px 0;
}

#body > div {
	border-bottom: #71a143 2px solid;
	border-top: #71a143 2px solid;
	width: 100%;
}
#body > div > div {
	margin: 0 auto;
}

#sidebar {
	border-right: #71a143 1px solid;
	margin: 24px 16px;
	padding: 0 20px 0 0;
	width: 260px;
}

#sidebar a:hover { background: url(../images/innermenuhover.png) no-repeat;}

#bottom { 
	font-size: 14px;
	margin: 32px 0;
}

#bottom > div {
	background: url(../images/bottom_bg.png) center repeat-y;
	line-height: 1.5em;
}

#footer { 
	background: url(../images/footerbg.png) repeat-x;	
	margin: 0 auto;
	padding: 10px 0 75px;
}

#footer > div { font-size: 9px; color: white;}

#footer a { color: white; text-decoration: none;}

#footer a:hover { color: black;}
