.moduletable { }

/* hmenu */
.moduletable_hmenu {
	font-size: 14px;
	position: absolute;
	right: 0;
	top: -4px;
	z-index: 5;
}

.moduletable_hmenu > ul {
	list-style: none;
	margin: 0;
}

.moduletable_hmenu > ul > li {
	float: left;
	position: relative;
}

.moduletable_hmenu > ul > li > a,
.moduletable_hmenu > ul > li > span {
	display: block;
	text-decoration: none;
	padding-left: 7px;
	position: relative;
	z-index: 7;
}

.moduletable_hmenu > ul > li > a span,
.moduletable_hmenu > ul > li > span span {
	color: black;
	display: block;
	padding: 50px 17px 24px 10px;
}

/* hover */
.moduletable_hmenu > ul > li:hover .submenu,
.moduletable_hmenu > ul > li:hover .submenu ul {
	display: block;
}
	

.moduletable_hmenu > ul > li:hover > a,
.moduletable_hmenu > ul > li:hover > span {
	background: url(../images/mainmenuhover.png) no-repeat;
}

.moduletable_hmenu > ul > li:hover > a span,
.moduletable_hmenu > ul > li:hover > span span {
	background: url(../images/mainmenuhover.png) right -93px no-repeat;
	color: white;
}

/* parent */
.moduletable_hmenu > ul > li.parent > a,
.moduletable_hmenu > ul > li.parent > span {
	padding-left: 6px;
}

.moduletable_hmenu > ul > li.parent > a span,
.moduletable_hmenu > ul > li.parent > span span {
	padding-bottom: 5px;
	padding-left: 11px;
}

.moduletable_hmenu > ul > li.parent:hover > a,
.moduletable_hmenu > ul > li.parent:hover > span {
	background: url(../images/menu_hover_bg_l.png) no-repeat;
}

.moduletable_hmenu > ul > li.parent:hover > a span,
.moduletable_hmenu > ul > li.parent:hover > span span {
	background: url(../images/menu_hover_bg_l.png) right -76px no-repeat;
	color: white;
}

/* submenu */
.moduletable_hmenu .submenu {
	display: none;
	font-size: 11px;
	position: absolute;
	left: 0px;
	top: 69px;
	width: 200px;
	z-index: 6;
	zoom: 1;
	
	margin-left: 15px;
}

.moduletable_hmenu .submenu .content, .moduletable_hmenu .submenu .content .top,
.moduletable_hmenu .submenu .bottom, .moduletable_hmenu .submenu .bottom div {
	background: url(../images/menu_dropdown_bg_l.png) no-repeat;
}

.moduletable_hmenu .submenu .content {
	padding: 20px 15px 0 0;
	position: relative;
	background-position: right top;
	min-height: 115px;
}
.moduletable_hmenu .submenu .content .top {
	background-position: top left;
	height: 100%;
	left: -15px;
	position: absolute;
	top: 0;
	width: 15px;
}
.moduletable_hmenu .submenu .bottom {
	background-position: bottom right;
	font-size: 1px;
	height: 15px;
	position: relative;
	width: 100%;
	zoom: 1;
}
.moduletable_hmenu .submenu .bottom div {
	background-position: left bottom;
	height: 15px;
	margin-left: -15px;
	position: relative;
	width: 15px;
}


.moduletable_hmenu .submenu ul,
.moduletable_hmenu ul ul {
	display: none;
	list-style: none;
	margin: 0;
}

.moduletable_hmenu .submenu li {
	
}

.moduletable_hmenu .submenu li > a,
.moduletable_hmenu .submenu li > span {
	text-decoration: none;
}

.moduletable_hmenu .submenu li a span,
.moduletable_hmenu .submenu li span span {
	color: white;
}
.moduletable_hmenu .submenu li:hover a span,
.moduletable_hmenu .submenu li:hover span span {
	text-decoration: underline;
}



/* /hmenu */




/* menu (vertical) */
.moduletable_vmenu { }

/* end vmenu */

.moduletable h3 {
	background: url(../images/circlecheckmark.png) no-repeat;
	line-height: 26px;
	padding-top: 5px;
}

/* bottom modules */
#bottom .moduletable { float: left; padding: 0 0 0 34px; width: 292px; }
#bottom .moduletable:first-child { padding: 0; }
#bottom .moduletable { }
#bottom .moduletable ul { list-style-type: none; }
#bottom .moduletable li { background: url(../images/checkmark.png) no-repeat; padding-left: 26px; }
/* end bottom modules */

/* sidebar menu */
#sidebar .moduletable { }
#sidebar .moduletable ul { list-style: none; text-transform: uppercase; }

#sidebar .moduletable li { 
	display: block;
	padding-bottom: 6px;
} 
#sidebar .moduletable li:hover { }

#sidebar .moduletable li > a, 
#sidebar .moduletable li > span { 
	display: block;
	padding-left: 5px;
}
#sidebar .moduletable li > a > span, 
#sidebar .moduletable li > span > span {
	color: black;
	display: block;
	line-height: 20px;
	padding-right: 5px;
	text-decoration: none;
}

#sidebar .moduletable li:hover > a, 
#sidebar .moduletable li:hover > span { 
	background: url(../images/innermenuhover.png) left top no-repeat;
}
#sidebar .moduletable li:hover a > span,
#sidebar .moduletable li:hover > span > span {
	background: url(../images/innermenuhover.png) right bottom no-repeat;
	color: white;
}

/* end sidebar menu */



